
# 

# comment
SIMPLE=xyz123
export INTERPOLATED="MultipleLines and variable substitution: ${SIMPLE}"
NON_INTERPOLATED='raw text without variable interpolation'
MULTILINE = """
long text here,
e.g. a private SSH key
"""

# sed -e 's/^\#.*//g' example.env | sed -E 's/export (.*)/\1/' | sed -E 's/(.*)\=(.*)/sed -x \1 \2/p'
